.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: black;
    color: white;
}
.footer{
    width: 80%;
}
.footer-paragraph{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4vmin;
    align-items: center;
}

.copyright{
    justify-content: center;
    font-size: 0.7rem;
}