/*Mobile*/

.navbar{
    font-family: 'Fira Sans', sans-serif;
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-direction: row;

}
.container-icons{
    z-index: 3;
}
.navbar .container .logo-img {
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-size: contain;
    border-radius: 0.3rem;
    background-image: url('./../images/Elevated-logos.jpeg');
}
.cart{
    margin-right: 1rem;
    cursor: pointer;
}
.hamburger{
    cursor: pointer;
    
}
.xmark{
    font-size: 1.7rem;
    padding-right: 1rem;
}
/*mobile menu display or none*/
.mobile-menu{
    opacity: 0;
}
.mobile-menu-display{
    z-index: 1;
    
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
.mobile-menu-display .container-options-mbl{
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

}
.mobile-menu-display ul{
    list-style: none;
    width: 100%;
    text-align: center;
    padding-left: 0;
    font-size: 2rem;
}
.mobile-menu-display ul li{
    margin-top: 4rem;
    text-transform: uppercase;
}
.mobile-menu-display ul li a{
    color:black;
    text-decoration: none;
}
.mobile-menu-off{
    display: none;
    opacity: 0;
}



/*cart menu display or none*/
.cart-menu{
    opacity: 0;
}
.cart-menu-display{
    z-index: 1;
    
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
.cart-menu-display .container-options-mbl{
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

}
.cart-menu-display ul{
    list-style: none;
    width: 100%;
    text-align: center;
    padding-left: 0;
    font-size: 2rem;
}
.cart-menu-display ul li{
    margin-top: 4rem;
    text-transform: uppercase;
}
.cart-menu-display ul li a{
    color:black;
    text-decoration: none;
}
.cart-menu-off{
    display: none;
    opacity: 0;
}
.cart-container-count{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    left: 30%;
    top: 40%;
    border-radius: 50%;
    padding: 0.1rem;
    background-color: #f3d503;
    color: black;
}

.show{
    display: flex;
}
.hide{
    display: none;
}
.container-icons{
    position:relative;
}
/*dsk = desktop*/
/*Menu options*/
.container-options-dsk{
    display: none;
}

.menu-display-desktop ul{
    display: flex;
    list-style: none;
}


/*Media query*/
@media screen and (min-width:1024px){
    .container-icons{
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }
    .cart-container-count{
        left:96%;
    }
    .menu-display-desktop{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-display-desktop ul{
        width: 70%;
        padding-left: 0;
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
    }
    .menu-display-desktop ul li{
        margin-right: 10%;
        font-size: 1rem;
    }
    .menu-display-desktop ul li a{
        text-decoration: none;
        color: black;
    }


}

@media screen and (min-width:1280px){
    .container-icons{
        width: 50%;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
    }
    .cart-container-count{
        left:96%;
    }
    .menu-display-desktop{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-display-desktop ul{
        width: 70%;
        padding-left: 0;
        margin: 0;
    }
    .menu-display-desktop ul li{
        margin-right: 10%;
        font-size: 1rem;
    }
    
}