h1{
    width: 83%;
    font-weight: bold;
    text-align: center;
}

/*Header*/
.container-header{
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.home-icon{
    text-decoration: none;
    color:white;
    display: flex;
    margin: 0;
    justify-content: space-between;
}
.home-icon p{
    margin: 0;
    color: black;
}
/*General Container*/
.product-container{
    padding-top:13vh;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
}

/*Grid*/
.product-grid-container {
    width: 100%;
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    align-items:top;
    flex-direction: row;
    min-height: 45rem;
    background-color: rgba(231, 231, 140, 0.034);
    margin-bottom: 6rem;
}
.product-grid-container a{
    width: 100%;
}
.product-item{
    height: 60vh;
    width: 100%;
}

.product-item .product-item-info{
    height: 40%;
}
/*Filters*/
.product-filters{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
}
.product-filters ul{
    width: 80%;
    display: flex;
    padding-left: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}
.product-filters ul li a{
    text-decoration: none;
    padding: 0.3rem;
    color: black;
}

.blank{
    width: 0;
    height: 0;
}

/*MQ*/
/*Does not need for 600px*/
@media screen and (min-width: 600px){
    .product-grid-container{
        width: 100%;
    }
    .product-grid-container a{
        width: 50%;
    }
}
/*850 px*/
@media screen and (min-width: 850px){
    .product-grid-container{
        row-gap: 0;
    }
}

/*1200 px*/
@media screen and (min-width: 1200px){
    .product-grid-container{
        min-height: 60rem;

    }
    .product-grid-container a{
        width: 30%;
    }
    .product-item .product-item-info p{
        bottom: 20%;
    }

    .product-grid-container a:first-child div{
        border-radius: 20px 0px 0px 0px;
    }
    .product-grid-container a:nth-child(3) div{
        border-radius: 0px 20px 0px 0px;
    }
}